.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
a {
  overflow: hidden;
  text-decoration: none;
  .flexbox-item {
    min-width: 120px;
    margin: 10px;
    border-radius: 4px;
    background-color: #dfdfdf;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0;
    .mat-card{
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
       display: block;
       position: relative;
       padding: 16px;
       border-radius: 4px;
     }
    .card {
      background-color: white;
      font-size: 24px;
      font-family: "Roboto Mono",Monospace,sans-serif;
      min-height: 120px;
    }
    .name{
      font-weight:bold;
    }
    mat-card-content{
        padding:20px;
    }
    mat-card-footer{
      font-size:14px;
    }
  }
}
