@import url('https://fonts.googleapis.com/css2?family=Roboto:display=swap');
* {
  font-family: 'Roboto Mono', Monospace, sans-serif;
}
.span {
  font-size: 14px;
}
mat-toolbar {
  background: #fff;
  color: #a5ffe3;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 16px;
}
