@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
p {
  font-family: 'Roboto', sans-serif;
}
.example-spacer {
  width: 10px;
}
.sidenav {
  flex: 1;
}
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}
mat-toolbar {
  background: #004a9f;
  color: white;
  font-size: 18px;
}
.menu-button {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  font-size: 0.5rem;
  mat-icon {
    margin-right: 8px;
  }
}
