* {
  font-family: sans-serif;
}
.span {
  font-size: 36px;
  font-weight: 700;
}
mat-toolbar {
  background: #fff;
  padding: 0px 16px;
  color: #c7c2c2;
  img {
    height: 32px;
    width: 96px;
    padding-right: 3px;
  }
  mat-divider {
    height: 20px;
  }
  span {
    padding-left: 3px;
  }
}
