p {
  font-family: Lato;
}
.example-spacer {
  width: 10px;
}
.sidenav {
  flex: 1;
}
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}
mat-toolbar {
  background: #004a9f;
  color: white;
}
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  margin-right: 8px;
}
