/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:display=swap');
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Mono', Monospace, sans-serif;
}

.brdcmb {
  margin: 3px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
}
.xng-breadcrumb-trail {
  color: #005578 !important;
}

body {
  background-color: #ebf0f5;
}
