/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
  padding: 0px;
  margin: 0px;
}
.brdcmb {
  margin: 3px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
  background-color: #e7f1f1;
}
