/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
  padding: 0px;
  margin: 0px;
}

.brdcmb {
  margin: 3px;
  padding: 5px 10px;
  display: inline-block;
}
.xng-breadcrumb-trail {
  color: #005578 !important;
}

body {
  background-color: #ebf0f5;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
p {
  font-family: 'Roboto', sans-serif;
}
